.longball-app {
    text-align: center;
}

.app-logo {
    height: inherit;
}

.app-header {
    background-color: #307e34;
    height: 50px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-user {
    margin-left: auto;
}

.app-title {
    font-size: large;
    display: inline-flex;
}

.selector-list {
    border: 1px black solid;
}
